<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyRX-T.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>MyRX-Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyRX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5AAC00741C7F989900E6C38D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B5824041D2ED32700577A46</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B71A2DB1D64DD29005E3845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B71A2EE1D64DD2A005E3845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B71A2F91D64DD2A005E3845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B900A4E1D3EA2F500017D14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
